{% extends 'base.html' %}
{% block title %}- Logout{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <div class="alert alert-info">Please enter your account informations.</div>
        <form action="" method="post">{% csrf_token %}
            {{form.as_p}}
            <input class="btn btn-primary" type="submit" value="Register">
        </form>

    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}